
.container1 div , .container2 div,.container3 div, .container4 div{}
#firstDivision{
    flex-basis:100%;
    width: 99%;
    height:75px;
    color:white;
    text-align:left;
    font-size: 40px;
    font-weight:10;
    text-transform: uppercase;
    font-style: arial;
    padding-left:15px;
    padding-top:32px;
    background-color:rgb(8, 170, 214);
    
}
 .container1 ,.container2 ,.container3,.container4{
    display:flex;   
}


    #secondDivision{
        flex-basis:7%;
        text-transform: uppercase;
        color:whitesmoke;
        text-align:center;
        font-size:14px;
        padding:5px;
        padding-left:2px;
        padding-right:2px;
        font-weight: bold;
        
    }
    #hoverOnDivision{
        flex-basis:7%;
        text-transform: uppercase;
        color:whitesmoke;
        text-align:center;
        font-size:14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        
    }

    #hoverOnDivision .button{
        padding:5px;   
        padding-left:1px;
        padding-right:1px;
    }
    #imageStyling{
        flex-basis:72%;
        color:white;
        padding-left:34px;
        padding-right: 15px;
        

    
        
    }
    #thirdDivision{
    flex-basis:60%;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-top-style:solid;
    border-top-width: 1px;
    border-left-style:solid;
    border-right-width: 1px;
    border-right-style:solid;
    border-left-width: 1px;
    margin:15px;
    margin-left:45px;
    padding-top:0px;
    padding-left:13px;   
    margin-bottom:5px;
    font-size:14px;
    letter-spacing: -1px;
}
    #fourthDivision{
        flex-basis:80%;
        margin: 5px;
    margin-left:45px;
    padding-top:0px;
    padding-left:0px;
    margin-right:5px;
    font-size:14px; 
    letter-spacing: -1px;
    
    }     
    .header:hover{
        background-color: orange;
        color:black;
        border-left: 5px solid whitesmoke;
    }
    .button{
     color: aliceblue;
     text-decoration:none ;
     

    }
    #imageAlignment{
        padding-top:3px;
        
    }
    .container2{
        background-color:rgb(42, 38, 38);
    }
    body{
        margin:0%;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }