.container1 div , .container2 div,.container3 div, .container4 div{}
            #header1{
                flex-basis:100%;
                width: 99%;
                height:75px;
                color:white;
                text-align:left;
                font-size: 40px;
                font-weight:10;
                text-transform: uppercase;
                font-style: arial;
                padding-left:15px;
                padding-top:32px;
                background-color:rgb(8, 170, 214);
                
            }
             .container1 ,.container2 ,.container3,.container4{
                display:flex;   
            }
            
                .header2-1{
                    flex-basis:7%;
                    text-transform: uppercase;
                    color:whitesmoke;
                    text-align:center;
                    font-size:12px;
                    padding:5px;
                    padding-left:12px;
                    padding-right:12px;

                }
                #header2-2{
                    flex-basis:78%;
                    color:white;
                    padding-left:70%;
                    margin-left:70px;
                
                    
                }
                #header3{
                flex-basis:68%;
                margin:-10px;
                margin-left:30px;
                padding-top:0px;
                padding-left:5px;   
                margin-bottom:5px;
                font-size:14px; 
                letter-spacing: -1px;
            }
                #header4{
                    flex-basis:80%;
                    margin: 5px;
                margin-left:45px;
                padding-top:0px;
                padding-left:0px;
                margin-right:5px;
                font-size:14px; 
                letter-spacing: -1px;
                } 
                .input{
                    font-size:smaller;
                    margin:7px;
                    font-weight: bold;
                    
                }  
                
                .header2-3{
                    background-color: orange;
                    border-left: 4px solid white;
                    color: black;
                }
                body{
                    margin:0%;
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                .container2{
                    background-color:rgb(42, 38, 38);
                }
                .hoverOnDivision{
                    flex-basis:7%;
                    text-transform: uppercase;
                    color:black;
                    text-align:center;
                    font-size:12px;
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    font-weight: bold;
                    
                }
                .button{
                 color: aliceblue;
                 text-decoration:none ;
                }
                .header:hover{
                    background-color: orange;
                    color:black;
                    border-left: 5px solid whitesmoke;
                }
                .hoverOnDivision .button{
                    padding:5px;   
                    padding-left:7px;
                    padding-right:7px;
                    
                }
                input[type="file"]{
                    display: none;
                }
                label{
                    color: black;
                    height:100px;
                    width:250px;
                    background-color:#f0f0f0;
                    border:1px solid black;
                    border-radius: 3px;
                    font-size: smaller;
                    padding: 3px;
                }